.loginContainer{
  width: 100vw;
  height: 100vh;
  background: url('../assets/landing/background.svg');
  background-size: auto;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 6rem;
  padding: 1.5rem 0;

  overflow: hidden;


  >div{
    width: 100%;
    max-width: 1460px;
    display: flex;
    height: auto;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1rem;

    >aside{
      img{
        width: 45rem;
        margin-left: -10rem;
      }
    }
  }
}


.contentContainer{
  height: 100%;
  width: 55%;
  padding: 3rem 4rem 0 0;

  >h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 57px;
    letter-spacing: -0.06em;
    color: var(--white);

   

    >span{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 57px;
      letter-spacing: -0.02em;
      color: var(--yellow-100);

    }
  }

  >p{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 191.68%;
    color: var(--white);
    margin: 4rem 0;

  }

  >form{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.8rem 3rem;
    grid-template-areas: 
    'INPUT INPUT'
    'SELECT SEARCH';
    width: 100%;
    height: 15%;

    >input{
      grid-area: INPUT;
      height: 100%;
      min-height: 2.8rem;
      width: 100%;
      border-radius: 0.25rem;
      background: var(--purple-400);
      border: 1px solid var(--purple-200);
      padding: 0 2rem 0;
      color: var(--white);
      
      
      &::placeholder{
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
      }

    }

    
  }
}

.selectButtonsContainer{ 
    height: 100%;
    width: 100%;
    grid-area: SELECT;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;

    >button{
      background: rgba(122, 85, 232, 0.575);
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;
      min-width: 10rem;
      min-height: 2.8rem;

      font-weight: 700;
      font-size: 1rem;
      color:rgba(255, 255, 255, 1);
      transition: all 0.4s;

      

      >div{
        width: 20px;
        aspect-ratio: 1/1;
        background:rgba(255, 255, 255, 0.2);
        border-radius: 20px;
      }

      &.active{
        border: 1px solid #A68EEF;
        background:rgba(255, 255, 255, 0.1);
      }
    }
}

@media(max-width: 1300px){
  .contentContainer{
    padding-right: 2rem;
    >form{
      grid-gap: 1rem;
      grid-template-columns: none;
    }
  }
}

@media(max-width: 1024px){
    .loginContainer{
      >div{
        height: 100%;
        
        >aside{
          width: 42%;
          align-self: flex-start;  
        }
      }
    }

    .contentContainer{
      padding-right: 2rem;
      >form{
        grid-gap: 1rem;
      }
    }

   .selectButtonsContainer{
     >button{
       font-size: 0.8rem;
       min-width: 8rem;
     }
   }
}

@media(max-width: 800px){
  .loginContainer{
    overflow: scroll;
    gap: 4rem;

    >div{
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
      padding: 0 0.5rem; 
      gap: 4rem;

      >aside{
        height: 100%;
        width: auto;
        align-self: center;  

        img{
          
            width: 25rem;
            margin-left: 0;
          
        }
      }
    }
  }

  .contentContainer{
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    height: auto;
    flex-direction: column;

    gap: 4rem;

    >h1{
      font-size: 2.0rem;
      line-height: 40px;

      >span{
        font-size: 2.5rem;
        line-height: 30px;
      }
    }

    >p{
      display: none;
    }
  }
}

@media(max-width: 600px){
  .loginContainer{
    >div{
      >aside{
        height: 100%;
        width: auto;
        
        
      }
    }
  }
}

@media(max-width: 425px){
  .contentContainer{
    >form{
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        'INPUT INPUT'
        'SELECT SELECT'
        'SEARCH SEARCH'
      ;

      height: fit-content;
    }
  }
}