.loginContainer{
  width: 100vw;
  height: 100vh;
  background: url('/images/background.svg');
  background-size: auto;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 6rem;
  padding: 1.5rem 0;

  overflow: hidden;

  >div{
    width: 100%;
    max-width: 1460px;
    display: flex;
    height: auto;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1rem;

    img{
      width: 45rem;
      margin-left: -10rem;
    }
  }
}

//60 px

.contentContainer{
  height: 100%;
  width: 55%;
  padding: 3rem 4rem 0 0;

  >h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 57px;
    letter-spacing: -0.06em;
    color: var(--white);

    >span{
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 3rem;
      line-height: 57px;
      letter-spacing: -0.02em;
      color: var(--yellow-100);
    }
  }

  >p{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 191.68%;
    color: var(--white);
    margin: 4rem 0;
  }

  >form{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.8rem 3rem;
    grid-template-areas: 
    'INPUT INPUT'
    'SELECT SEARCH';
    width: 100%;
    height: 15%;

    >input{
      grid-area: INPUT;
      height: 100%;
      width: 100%;
      border-radius: 0.25rem;
      background: var(--purple-400);
      border: 1px solid var(--purple-200);
      padding: 0 2rem 0;
      color: var(--white);
      
      
      &::placeholder{
        color: var(--white);
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
      }
    }

    
  }
}

.selectButtonsContainer{ 
    height: 100%;
    width: 100%;
    grid-area: SELECT;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;

    >button{
      background: rgba(121, 85, 232, 0.3);
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;

      font-weight: 700;
      font-size: 1rem;
      color:rgba(255, 255, 255, 1);
      transition: all 0.4s;

      >div{
        width: 20px;
        aspect-ratio: 1/1;
        background:rgba(255, 255, 255, 0.2);
        border-radius: 20px;
      }

      &.active{
        border: 1px solid #A68EEF;
        background:rgba(255, 255, 255, 0.1);
      }
    }
}