.defaultButton{
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background: var(--yellow-500);

  font-size: 1rem;
  color: var(--purple-500);
  font-weight: 700;
  border: none;
  transition: filter 0.2s;

  box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
  

  &:hover{
    filter: brightness(0.95);
  }

  &.shadow{
    box-shadow: none;
  }

  
}