.cardContainer{
    width:100%;
    height:100%;
    background: var(--white);
    border-radius: 0.25rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;


    >header{
        overflow: hidden;
        height: 60%;
        min-height: 60%;

        >*{
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }

    >div{
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        >button{
            padding: 0.8rem;
            border: none;
            background: #ece9f6;
            border-radius: 0.25rem;
            color: rgba(0, 0, 0, 0.8);
            font-weight: 600;
            font-size: 0.9rem;
        }
    }

    >h1{
        color: var(--purple-800);
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-overflow: ellipsis;
    }
}